<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :title %><br />
  <%= f.select :title, User::TITLES, {include_blank: '-------------'} %></div>

  <div><%= f.label :profession %><br />
  <%= f.text_field :profession %></div>

  <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name, autofocus: true %></div>

  <div><%= f.label :last_name %><br />
  <%= f.text_field :last_name %></div>

  <div><%= f.label :nick_name %><br />
  <%= f.text_field :nick_name %></div>

  <div><%= f.label :school_year_begin %><br />
  <%= date_select(resource_name, 'school_year_begin', discard_month: true, start_year: 80.years.ago.year, end_year: Date.today.year) %></div>

  <div><%= f.label :school_year_end %><br />
  <%= date_select(resource_name, 'school_year_end', discard_month: true, start_year: 80.years.ago.year, end_year: Date.today.year) %></div>

  <div><%= f.label :graduated %><br />
  <%= f.check_box :graduated %></div>

  <div><%= f.label :was_in_boarding_school %><br />
  <%= f.check_box :was_in_boarding_school %></div>

  <div><%= f.label :date_of_birth %><br />
  <%= date_select(resource_name, 'date_of_birth', include_blank: true, start_year: 100.years.ago.year, end_year: 10.years.ago.year, order: [:day, :month, :year]) %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
