= @user.avatar(:profile)
= @user.avatar(:thumb)
= @user.profession
= @user.static_map
= @user.name
= @user.name_with_title
= @user.name_with_nick_name
= @user.time_at_school
= @user.school_years
= @user.member_since
= @user.age
= @user.year_of_birth
= @user.tags
%ul
  = render @user.comments
= render partial: 'comments/form'
